---
title: News
permalink: /news/index.html
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template | News</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>Decap cms: editable news</h1>
  </header>

<main>
  <a href="../index.html">Home</a>

  {% for post in collections.news %}
    <article class="news-item">
      <h2>{{ post.data.title }}</h2>

      {% if post.date %}
        <p class="news-date">{{ post.date | readableDate }}</p>
      {% endif %}

      {% if post.data.category %}
        <p class="news-category">Category: {{ post.data.category }}</p>
      {% endif %}

      <div class="news-content">
        {{ post.templateContent  }}
      </div>

      {% if post.data.image %}
        <div class="news-image">
          <img src="{{ post.data.image }}" alt="Image">
        </div>
      {% endif %}

      {% if post.data.file %}
        <div class="news-file">
          <a href="{{ post.data.file }}" download>Dwonload file</a>
        </div>
      {% endif %}
    </article>
  {% endfor %}
</main>



  <footer>
    <p>&copy; 2025</p>
  </footer>
</body>
</html>